*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background_img.png);
  background-size: cover;
  background-repeat: repeat-y;
}
header{
  background-color: #F7BF50;
}

.contacts-con{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:20%;
}
.fa{
  text-decoration: none;
  border: 1px solid #ffffff ;
  margin: 0 5px;
  text-align: center;
  border-radius: 2px;
  font-size: 15px;
}
.fa-phone, .fa-envelope, .fa-facebook, .fa-instagram {
  background-color: #e16262;
  color: #ffffff;
  padding: 10px;
}

/* .fa{
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 0px 2px;
  border-radius: 2px;
  border: 1px #ffebcf solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
/* .fa:hover{
  transform: scale(0.8,0.8);
  transform-origin: center;
  transition-duration: 0.5s;
}
.fa-phone, .fa-envelope, .fa-facebook, .fa-instagram {
  background: #e16262;
  color: white;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 0px 2px;
  border-radius: 2px;
  border: 1px #ffebcf solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
} */
/* #mission-statement{

} */

.footer{
    font-size: small;
    text-align: center;
    justify-content: center;
}
.map{
    text-align: center;
  display: block;
  margin: 0 auto;
}